footer{
    margin: 3rem 0;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    background-color: aqua;
}

ul {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

ul li {
    margin: 2rem;
    list-style-type: none;
}

.foto {
    height: 30vh;
    width: 15vw;
    margin: auto;
}

h2 {
    text-align: center;
}